@font-face {
    font-family: 'Note_sans_jp';
    src: url(C:\Users\gura1\Downloads\Noto_Sans_JP.zip);
}


* {
    max-width: 100%;
    padding: 0px;
    margin: 0px;
}

header {

    background-color: #FFFFFF;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
    z-index: 1000;
}

.posse_logo img {
    vertical-align: bottom;
}

.header_inner {
    display: flex;
    align-items: center;
}

header ul {
    list-style: none;
}

header li {
    margin: 0px;
    padding: 0px;
}

.header_nav {
    display: block;
    align-items: left;
}

.header_nav_list {
    display: flex;
    gap: 24px;

}

.header_nav_item {
    display: list-item;
}

.Hnil {
    font-size: 14px;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-style: bold;
    color: #333333;
    font-family: 'Noto Sans JP', sans-serif;
}

.header_inner_sns {
    display: flex;
    gap: 24px;
    margin-left: 32px;

}

.Hisi {
    display: flex;
    vertical-align: middle;
}

.Hisl {
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    display: inline-flex;
    font: 24px;
    vertical-align: middle;
}

#insta {
    border: 1px solid;
    border-color: #EFF2F5;
    border-radius: 50%;
    background-position: 50%, 70%, 50%, 50%;
    background-image: url(./assets/img/icon/icon-instagram.svg);

}

#twitter {
    border: 1px solid;
    border-color: #EFF2F5;
    border-radius: 50%;
    background-position: 50%, 70%, 50%, 50%;
    background-image: url(./assets/img/icon/icon-twitter.svg);

}

.h_icon p {
    margin-right: 32px;

}

.main_1 {
    width: 100%;
    height: 680px;
    left: 0px;
    top: 80px;
}

.text {
    position: relative;
    width: 400px;
    height: 200px;
    right: 62px;
    left: 63px;
    top: 40px;
    line-height: 80px;
    z-index: 3;
    overflow: hidden;
}

.text p {
    font-size: 16px;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 180%;
    margin-bottom: 14px;
    color: #0071BC;


}

.text h1 {
    font-size: 60px;
    letter-spacing: 0.05em;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    z-index: 5;

    color: #333333;
}

.rectangle {
    position: absolute;
    width: 500px;
    height: 281px;
    left: 80px;
    top: 198px;
    background: #EFF2F5;
    border-radius: 24px;
    z-index: 4;

}

.main_scroll_down {
    position: absolute;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    height: 21px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    width: 120px;
    top: 640px;
    list-style: none;
    font-style: bold;
    left: -420px;
    padding: 0;

}

.main_scroll_down::before {
    content:url(./scroll_nav.svg);
    position: absolute;
    top: 640px;
    left: -427px;
    width: 15px;
    height: 15px;
    
}


.phot {
    background-color: #FFFFFF;
    background-image: url(./assets/img/img-hero.jpg);
    background-size: contain;
    position: absolute;
    z-index: 2;
    width: 976px;
    height: 680px;
    right: 0px;
    top: 0px;
    border-radius: 80px 0px 0px 80px;
}

.main_2 {
    margin-top: 90px;
height: 400px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.posse_title {
    display: inline-block;
    text-align: center;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: 0.05em;
    height: 100%;
    width: 100%;

}

.posse_title_item p {
    letter-spacing: initial;
    font-size: 15px;
    color: #0071BC;
    display: block;
    font-family: 'Plus Jakarta Sans', sans-serif;
    line-height: 1.8;
    margin-top: 8px;
    
}
.posse_body{
    width: 100%;
    margin-top: 60px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}
.text2 {
    margin-top: auto;
    margin-bottom: auto;
    width: 472px;
    height: 175px;
    font-style: solid;
    line-height: 1.8;
    font-size: 14px;
    font-family: 'Noto Sans JP', sans-serif;
    margin-right: 0px;
}
.posse_contents-img-item{
    border-radius: 16px;
    margin-right: 0;
    width: 472px;
    height: 312px;
    margin-right: 40px;
    background-image: url(./assets/img/img-about.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.promotion {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-top: 140px;
    padding: 0, 24px;
    width:984px ;
    height: 358px;
    z-index: 1;
    background-image: url(./assets/img/bg-line.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 48px;
    color: white;
    margin-bottom: 80px;
}

.promotion__inner {
    /*position: absolute;*/
    display: flex;
    text-align: center;
    flex-direction:column;
    justify-content: center;
    background:rgba( 0, 113, 188, 0.8);
    width: 100%;
    left: 0%;
    top: 0%;
    height: 100%;
    border-radius: 48px;
}


.promotion__line-title {
    width: 100%;
    height: 65px;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 180%;
    margin-bottom: 30px;
}
.promotion__line-title::before{
    content: url(./assets/img/icon/icon-line.svg);
    display: inline-block;
    background-color: #FFFFFF;
    border-radius: 90%;
    width: 40px;
    height: 40px;
    transform: translateY(10px);
    background-size: 40px;
}

.promotion__line-logo {
    background-image: url(./assets/img/icon/icon-line.svg);
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #FFFFFF;
    margin-right: 10px;
    margin-top: 16px;
}

.promotion__paragraph {
    width: 100%;
    height: 80px;
    padding-top: 20px;
    font-family: 'Noto Sans JP';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 160%;
}
.promotion__button {
    opacity: 1.0;
    margin-top: 16px;
    height: 50px;
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    background-color:white;
    z-index: 2;
    border-radius: 50px;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    

}
.promotion__button-link {
    width: 100%;
display: flex;
justify-content: center;
    letter-spacing: 0.1em;
    line-height: 1.8;
    font-size: 14px;
    letter-spacing: 0.1em;
    text-decoration: none;
    font-style: bold;
    color: #333333;
    font-family: 'Noto Sans JP', sans-serif;
}

.promotion__button-icon {
    position: relative;
    left: 100px;
    margin-top: auto;
    margin-bottom: auto;
    height: 14px;
    width: 14px;
  
}
footer {
    border-top:1px solid;
    border-color:#EFF2F5;
    padding-top: 56px;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    


}
.footer_posse-logo{
    margin-right:auto ;
    margin-left: auto;
}
.footer_inner {
    height: 100%;
    width: 100%;
    
}
.footer_inner_sns{
    border-bottom:1px solid;
    border-color:#EFF2F5;
    display: flex;
    justify-content: center;
    width: 100%;
    list-style: none;
    gap: 10px;
    margin-top: 32px;
    padding-bottom: 62px;

}
.footer_inner-add{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    text-decoration: none;
    color:grey;
}
.footer_inner-add::after{
    content: url(./lienIcon.svg);
    margin-left: 5px;
}
.Fisi{
    
    width: 50px;
    height: 50px;
    flex-wrap: wrap;
}

.Fisl {

    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    font: 24px;
    display: inline-flex;
    vertical-align: middle;
    font-family: 'Noto Sans JP', sans-serif;
    
}
.footer_last{
    padding-top: 35px;
    padding-bottom: 35px;
    height: 100%;
    width: 100%;
    text-align: center;
    display: inline-block;
    margin: auto;
    font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 13px;
letter-spacing: 0.1em;
color: #666666;

}
