@font-face {
    font-family: 'Note_sans_jp';
    src: url(C:\Users\gura1\Downloads\Noto_Sans_JP.zip);
}
html{

}
*{
 margin: 0px;
 padding: 0px;
 
    
}
body{
overflow-x: hidden;
max-width: 1440px;
height: auto;
}
header{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px 24px;
}
.posse_logo img{
    vertical-align: bottom;
}
.header_inner{
display: flex;
align-items: center;
margin-left: auto;
}
header ul{
    list-style: none;
}
header li{
    margin: 0px;
    padding: 0px;
}
.header_nav{
    display: block;
    
}
.header_nav_list{
    display: flex;
    gap: 24px;
   
}
.header_nav_item{
    display: list-item;
}
.Hnil{
    font-size: 14px;
    letter-spacing: 0.1em;
    text-decoration: none;
font-style: bold;
color: #333333;
font-family: 'Noto Sans JP', sans-serif;
}
.header_inner_sns{
    display: flex;
    gap: 24px;
    margin-left: 32px;
    
}
.Hisi{
    display: flex;
    vertical-align: middle;
}
.Hisl{
    width: 50px;
    height: 50px;
    background-repeat: no-repeat;
    display: inline-flex;
    font: 24px;
    vertical-align: middle;
}
#insta{
    background-image: url(./assets/img/icon/icon-instagram.svg);

}
#twitter{
    background-image: url(./assets/img/icon/icon-twitter.svg);

}

.h_icon p{
    margin-right:32px;
    
}
.main_1{
    position:absolute;
    width: 100%;
    height: 680px;
    left: 0px;
    top: 80px;
}
.text{
    position: relative;
    width: 400px;
    height: 160px;
    right: 62px;
    left: 63px;
    top: 40px;
    line-height: 80px;
    z-index: 3;
    overflow: hidden;
 }
.text p{
    font-size: 16px;
    font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 180%;
margin-bottom: 14px;
color: #0071BC;


}
.text h1{
    font-size: 60px;
    letter-spacing: 0.05em;
    font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;

color: #333333;
}
.rectangle{
    position: absolute;
width: 500px;
height: 281px;
left: 80px;
top: 198px;
background: #EFF2F5;
border-radius: 24px;

}
    

.phot{
    background-color: #FFFFFF;

}
.phot img{
    position: absolute;
    z-index: 1;
width: 976px;
height: 680px;
right: 0px;
top: 0px;
border-radius: 80px 0px 0px 80px;
}
.rectangle1{
    background: #EFF2F5;
border-radius: 24px;

position: absolute;
width: 500px;
height: 281px;
left: 80px;
top: 198px;
z-index: 2;
}
.posse_title{
position: absolute;
width: 191px;
height: 54px;
top: 856px;
right: 50%;
left: 50%;
bottom: 1320px;
display: flex;
}
.posse_title  h1{
    font-size: 34px;
    text-align: center;
    font: bold;

}
.posse_title p{
    text-align: center;
    display: flex;


}
 
.posse_body{
    display: flex;
}
.posse_body img{ 
    position: absolute;
    width: 472px;
    height: 312px;
    left: 228px;
    top: 986px;
    right: 700px;

}
 .text2{

    
    position: absolute;
    width: 472px;
    height: 175px;
    top: 1050px;
    left: 740px;
    line-height: 25.2px;
    

 }
.main_3{

    position: absolute;
    width: 984px;
    height: 358px;
    left: 230px;
    top: 1438px;
}
.line{
    position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0.28%;

/* primary */
mix-blend-mode: normal;
opacity: 0.9;
border-radius: 48px;
background-image: url(/assets/img/bg-line.jpg);
}
.line img{
    position: absolute;
left: 33.23%;
right: 62.7%;
top: 22.63%;
bottom: 66.2%;
display: inline-block;
}
.line h2{
    position: absolute;
    width: 400px;
    height: 280px;
    left: 39.23%;
    right: 62.7%;
    top: 20.63%;
    bottom: 66.2%;
font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 180%;
}
.line p{

    position: absolute;
left: 22.87%;
right: 22.76%;
top: 41.62%;
bottom: 39.94%;
padding-top: 20px;
text-align: center;
font-family: 'Noto Sans JP';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 160%;
}

